<ul>
  <li><a href="https://sumac-workshops.github.io/2022/">SUMAC 2022</a> - <a href="https://dl.acm.org/doi/proceedings/10.1145/3552464">Proceedings SUMAC 2022</a></li>
  <li><a href="https://sumac-workshops.github.io/2021/">SUMAC 2021</a> - <a href="https://dl.acm.org/doi/proceedings/10.1145/3475720">Proceedings SUMAC 2021</a></li>
  <li><a href="https://sumac-workshops.github.io/2020/">SUMAC 2020</a> - <a href="https://dl.acm.org/doi/proceedings/10.1145/3423323">Proceedings SUMAC 2020</a></li>
  <li><a href="https://sumac-workshops.github.io/2019/">SUMAC 2019</a> - <a href="https://dl.acm.org/doi/proceedings/10.1145/3347317">Proceedings SUMAC 2019</a></li>
</ul>
